name: Unit Tests
on: [push]
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25

      - name: Get dependencies
        run: |
          go get .

      - name: Build
        run: go test -v $(go list ./... | grep -v /integration_test) # Exclude integration tests from build step

      - name: Test
        run: go test -v $(go list ./... | grep -v /integration_test) # Exclude integration tests from test step
